body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

html, body {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    /* Set the width to match that of the viewport. */
    width: 100vw;
    /* Remove any browser-default margins. */
    margin: 0;
}

#header {
    height: 63px;
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    position: relative;
    text-align: left;
    padding-top:20px;
    padding-left:20px;
    width:500px;
}

#container {     
    width: 100%;   
}

ul {
    list-style: none;
    padding-left: 15px;
}

li {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}

.collapse {
    background: url(collapse.gif) no-repeat center center;
    cursor: pointer;
}

.expand {
    background: url(expand.gif) no-repeat center center;
    cursor: pointer;
}

.inlineSpan {
    display: inline-block;
    height: 9px;
    width: 9px;
    margin-right: 5px;
}

.objectSpan {
    background: url(curlyBrackets.png) no-repeat center center;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 5px;
    margin-left: 3px;
    vertical-align: bottom;
}

.arraySpan {
    background: url(array.gif) no-repeat center center;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 5px;
    margin-left: 3px;
    vertical-align: bottom;
}

#topNode {
    padding-left: 0;
    margin-top:2px;
    margin-bottom:0;
}

.stringSpan {
    background-color: green;
    margin-left: 21px;
}

.numberSpan {
    background-color: blue;
    margin-left: 21px;
}

.booleanSpan {
    background-color: deepskyblue;
    margin-left: 21px;
}

.nullSpan {
    background-color: red;
    margin-left: 21px;
}

.itemSelected {
    background-color: #cce6ff;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: orangered;
    color: whitesmoke;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 10px;
    font-size: 17px;
}

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 10px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 20px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 10px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 10px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
